body {
    background-color: rgb(0, 81, 49);
    text-align: justify;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('ranuci2.jpeg');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-content {
    display: flex;
    align-items: center;
}

.img {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    margin-right: 50px;
    border: 1px solid green;
    border-radius: 30px;
}

.contact-info {
    font-size: 12px; /* Tamanho menor para o texto de contato */
    color: white;
}

video {
    border: 1px solid green;
    border-radius: 10vh;
    width: 70vh;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.insta {
    border: 1px solid white;
    border-radius: 10vh;
    width: 4vh;
    display: block;
    margin: 0 auto;
}

.fonte {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Estilos para o sistema de abas */
.tabs {
    position: relative;
    margin: 2rem auto;
    background: white;
    height: auto;
    width: 70%;
    border-radius: 0.4rem;
    overflow: hidden; /* Adicionado para garantir que o conteúdo não exceda o container */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid green;
    background-color: green;
}

li {
    width: 100%;
    text-align: center;
}

li label {
    display: block;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid green;
}

input[type="radio"] {
    display: none; /* Oculta os radio buttons */
}

input[type="radio"]:checked + ul li label {
    background-color: white;
    color: green;
    border-bottom: 2px solid white;
}

.tab-content {
    display: none; /* Inicialmente oculta todos os conteúdos */
    padding: 20px;
    color: black;
}

input[type="radio"]#tab1:checked ~ .content #content1,
input[type="radio"]#tab2:checked ~ .content #content2,
input[type="radio"]#tab3:checked ~ .content #content3,
input[type="radio"]#tab4:checked ~ .content #content4 {
    display: block; /* Exibe o conteúdo da aba selecionada */
}

.zap{
    display: flex;
    align-items: center;
    width: 2.5vh;
    margin-top: 30px;
}

.fonte2{
    text-decoration: none;
    color: white;
}